.col-sm-4{
  font-size:125%;
  width:125%;
}
.col-sm-6{
  font-size:25px;
}
#title{
  margin-top:1em;
  margin-left:50px;
}
#content{
  margin-top:2em;
  margin-left:1em;
  margin-right:1em;
  font-size:1.3em;
}
.form{
  margin-top:150px;
  margin-left:200px;
}
.responsive {
  max-width: 100%;
  height: auto;
}