
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand">AH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index2' %}">About me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index3' %}">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index4' %}">Contacts</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="{% url 'portfolio_form' %}">Portfolio Form</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="{% url 'portfolio_form_output' %}">Portfolio</a>
      </li>       
    </ul>
  </div>  
</nav>
