{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <br>
  <div id="title">
    <h1>Resume</h1>
  </div>
  <div class="text-center">
    <img src="{% static 'photo/CVphoto.PNG' %}" class="responsive">
  </div>
{% endblock %}