{% extends 'base.html' %}
{% load staticfiles %}
{% block content %} 
     <div id="title">
      <h1>Home</h1>
    </div>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img src="{% static "photo/User.png" %}" width=350,height=350>
        </div>
        <div class="col-sm-6">
          <p>Hai, nama saya Alvin Hariman.</p>
          <p>Saya merupakan seorang web programmer yang aktif, energik, ceria, dan cukup mahir dalam coding.</p>
          <p>Saya juga pernah mengikuti beberapa perlombaan dan juga mengikuti beberapa kegiatan yang berhubungan dengan website development.</p>
        </div>
      </div>
    </div>
{% endblock %}