{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <br>
    <div id="title">
      <h1>Contacts</h1>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img src="{% static 'photo/line.png' %}" width=50,height=50>
        </div>
        <div class="col-sm-6">
          <p>alvin.hariman</p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <img src="{% static 'photo/instagram.png' %}" width=50,height=50>
        </div>
        <div class="col-sm-6">
          <p>AlvinHariman</p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <img src="{% static 'photo/linkedin.PNG' %}" width=50,height=50>
        </div>
        <div class="col-sm-6">
          <p>Alvin Hariman</p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <img src="{% static 'photo/telepon.jpg' %}" width=50,height=50>
        </div>
        <div class="col-sm-6">
          <p>081360215240</p>
        </div>
      </div>
    </div>
{% endblock %}