{% extends 'base.html' %}
{% block content %}
    <br>
    <div id="title">
      <h1>Portfolio Form</h1>
      <form method='POST'> {% csrf_token %}
        {{ portfolio_form.as_p }}
        <button type='submit' class="save">Save</button>
      </form>
    </div>
{% endblock %}