{% extends 'base.html' %}
{% block content %}
    <br>
    <div id="title">
      <h1>Portfolio</h1>
    </div>
    <div class="container">
   {% for form in portfolio_form_output %}
      <div class="row">
        <div class="col-sm-4">
          Judul Proyek :
        </div>
        <div class="col-sm-6">
          {{form.judul}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
          Tanggal mulai - tanggal selesai :
        </div>
        <div class="col-sm-6">
          {{form.tgl_mulai}} - {{form.tgl_selesai}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
	  Deskripsi Singkat Proyek :
        </div>
        <div class="col-sm-6">
          {{form.deskripsi}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
          Tempat :
        </div>
        <div class="col-sm-6">
          {{form.tempat}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
          Kategori Proyek :
        </div>
        <div class="col-sm-6">
          {{form.kategori}}
        </div>      
      </div>
      <br>
      <br>
    {% endfor %}
    </div>
{% endblock %}